<ul class="threadList">
	<li>
		Total votes # <%= post.votes_for %>
		<%= link_to('Vote 1UP', vote_up_post_path(post), :method => :post) %> 
		<%= link_to post do %>

    		<span class="id"><%= post.id %></span>
			<span class="left"><span class="title"><%= post.body %></span><span class="author"><strong>Created by:</strong> <%= post.author_name %></span></span>
			<span class="right"><span><strong>Replies:</strong> (<%= Post.find(post.id).comments.count %>)</span><span><strong>Last update:</strong> designblooz - <% from_time = Time.now %><%= distance_of_time_in_words(post.created_at, from_time) %> ago</span></span>
			<span class="clear"></span>
  		<% end %>

	</li>
</ul>

