<h1><%= @board.title %></h1>
<p><%= @board.description %></p>

<%= link_to "edit", edit_board_path(@board) %>
<%= link_to "delete", board_path(@board), :method => :delete, :confirm => "Really? Do you want to delete the board?"
 %>

<%= link_to "<< Back to boards List", boards_path %>


<%= render :partial => 'post_form' %>

<h3>Posts (<%= @board.posts.count %>)</h3>
<%= render :partial => 'post', :collection => @board.posts %>
