<p class="topicDescription"><%= @board.description %></p>


<%= link_to "Trending", trending_board_path(@board), :method => :post,:class => "btn btn-white" %>

<%= link_to "New", new_thread_list_board_path(@board), :method => :post,:class => "btn btn-white" %>

<%= link_to "Popular", popular_board_path(@board), :method => :post,:class => "btn btn-white" %>
<br>
<!--<%= link_to "<< Back to boards List", boards_path %>-->
	

<h3 style="padding:15px">Posts (<%= @board.posts.count %>)</h3>

<ul class="threadList">

<%= render :partial => 'post', :collection => @board.posts.reverse %>

</ul>