<p class="topicDescription"><%= @post.body %></p>
Total votes = # <%= @post.votes_for %> ||
<%= link_to('vote + UP', vote_up_post_path(@post), :method => :post) %> 

<!--<%= link_to "<< Back to posts List", boards_path %>-->

<h3 style="padding:15px">Comments (<%= @post.comments.count %>)</h3>
<%= render :partial => 'comment', :collection => @post.comments %>


<%= render 'comment_form' %>
